@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --box-shadow: 0rem .5rem 0rem #fff;
    /* --border: 2rem solid #fff; */
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


body {
    background: hsl(212, 45%, 89%);
    /* overflow: hidden; */
}

.container {
    width: 230px;
    padding: 9px;
    background: hsl(0, 0%, 100%);
    border: var(--border);
    box-shadow: var(--box-shadow); 
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    margin: 60px auto;

}

img {
    width: 100%;
    border-radius: 10px;    
}

.content h2 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}

.content p {
    color: hsl(220, 15%, 55%);
    font-size: 12px;
    margin: 15px 0px;
    text-align: center;
}

@media (min-width: 1440px) and (max-width: 375px) {
    body {
        margin: auto;
    }
}